<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>


<form action="/answer" class="input-group mb-3 rounded">
  <input type="text" name="question" class="form-control">
  <div class="input-group-prepend">
    <input type="submit" value="Ask" class="input-group-prepend btn btn-primary rounded-right">
  </div>
</form>
